<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <h1>Welcome {{ name }}</h1>

        <h2>Voici la liste des jours de la semaine : </h2>

        {% for day in days %}
            
        {% endfor %}

        @foreach()
        
        @endforeach


        <?php foreach($days as $day) ?>

        <?php endforeach ?>

        <?php for($i=0; $i<count($days); $i++) ?>

        <?php endfor ?>


    </body>
</html>