{% extends "base.html.twig" %}

{% block title %}
    Framework Poo
{% endblock %}

{% block body %}
    <h1>Welcome</h1>

    <a href="" class="btn btn-primary">Ajouter une nouvelle personne</a>
{% endblock %}